language: java
# Enable container-based infrastructure
# see http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false
jdk:
- oraclejdk8
cache:
  directories:
  - $HOME/.m2/repository
  - $HOME/.m2/wrapper
install:
- ./mvnw -version
# license plugin requires full git history
- git fetch --unshallow
script:
- ./mvnw clean install -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
# - cd $HOME/build/srcdeps
# - git clone https://github.com/ppalaga/srcdeps-maven.git
# - cd srcdeps-maven
# - git checkout -b 180603-hash
# - ./mvnw clean install -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
